@font-face {
  font-family: "redhatdisplay-regular";
  src: url(../font/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: "RedHatDisplay-SemiBold";
  src: url(../font/RedHatDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "Rufina-Bold";
  src: url(../font/Rufina-Bold.ttf);
}

@font-face {
  font-family: "RedRose-Regular";
  src: url(../font/RedRose-Regular.ttf);
}

@font-face {
  font-family: "RedRose-Bold";
  src: url(../font/RedRose-Bold.ttf);
}
header {
  border: 1px solid black;
  padding: 46px 68px 43px 68px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.logo {
  font-family: "Rufina-Bold";
  font-size: 22px;
  line-height: 27px;
  color: rgba(0, 0, 0, 1);
}

.top-nav ul li a {
  font-family: "RedRose-Regular";
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}

#site-search {
  border: 1px solid rgba(75, 75, 75, 1);
  font-family: "RedRose-Regular";
  font-size: 10px;
  line-height: 13px;
  border-radius: 4px;
  height: 41px;
  width: 336px;
  padding-left: 25px;
}

.type-of-color ul {
  display: flex;
  justify-content: center;
  column-gap: 14px;
  max-width: calc(1440px - 285px - 285px);
  margin: 40px auto;
}
.type-of-color ul li a {
  font-family: "redhatdisplay-regular";
  color: rgba(0, 0, 0, 1);
  line-height: 21px;
  border: 0.5px solid rgba(234, 234, 234, 1);
  height: 34px;
  border-radius: 10px;
  padding: 6px 0;
  text-align: center;
  width: 90px;
  display: inline-block;
}
.type-of-color ul li a:hover {
  background: rgba(234, 234, 234, 1);
}
.type-of-color ul li a:nth-child(1),
.type-of-color ul li a:nth-child(4) {
  width: 82px;
}
.type-of-color ul li a:nth-child(2),
.type-of-color ul li a:nth-child(8) {
  width: 109px;
}
.type-of-color ul li a:nth-child(3) {
  width: 87px;
}

.type-of-color ul li a:nth-child(5) {
  width: 104px;
}
.type-of-color ul li a:nth-child(6) {
  width: 92px;
}
.type-of-color ul li a:nth-child(7) {
  width: 87px;
}

.color-models {
  display: flex;
  justify-content: space-between;
  font-family: "RedHatDisplay-SemiBold";
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.card {
  width: 260px;
}

.color1,
.color2,
.color3,
.color4,
.icons {
  width: 100%;
  height: 50px;
  border-radius: 4px;
}

.card1 > .color1 {
  background: rgba(205, 240, 234, 1);
}

.card1 > .color2 {
  background: rgba(249, 249, 249, 1);
}

.card1 > .color3 {
  background: rgba(246, 198, 234, 1);
}

.card1 > .color4 {
  background: rgba(250, 244, 183, 1);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 25px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 4px;
}
.icons svg {
  width: 21px;
  height: 18px;
}

.icons > svg:nth-child(1):hover path {
  fill: red;
  cursor: pointer;
}

.icons svg:hover {
  cursor: pointer;
}

.down-link {
  display: flex;
  column-gap: 21px;
}

.card2 > .color1 {
  background: rgba(212, 236, 221, 1);
}
.card2 > .color2 {
  background: rgba(52, 91, 99, 1);
}

.card2 > .color3 {
  background: rgba(21, 45, 53, 1);
}

.card2 > .color4 {
  background: rgba(17, 32, 49, 1);
}

.card3 > .color1 {
  background: rgba(249, 243, 223, 1);
}
.card3 > .color2 {
  background: rgba(205, 242, 202, 1);
}

.card3 > .color3 {
  background: rgba(255, 222, 250, 1);
}

.card3 > .color4 {
  background: rgba(255, 200, 152, 1);
}

.card4 > .color1 {
  background: rgba(51, 48, 228, 1);
}
.card4 > .color2 {
  background: rgba(246, 55, 236, 1);
}

.card4 > .color3 {
  background: rgba(251, 180, 84, 1);
}

.card4 > .color4 {
  background: rgba(250, 234, 72, 1);
}

.card5 > .color1 {
  background: rgba(217, 215, 241, 1);
}
.card5 > .color2 {
  background: rgba(255, 253, 222, 1);
}

.card5 > .color3 {
  background: rgba(231, 251, 190, 1);
}

.card5 > .color4 {
  background: rgba(255, 203, 203, 1);
}

.card6 > .color1 {
  background: rgba(153, 0, 0, 1);
}
.card6 > .color2 {
  background: rgba(255, 91, 0, 1);
}

.card6 > .color3 {
  background: rgba(212, 217, 37, 1);
}

.card6 > .color4 {
  background: rgba(255, 238, 99, 1);
}

.card7 > .color1 {
  background: rgba(185, 22, 70, 1);
}
.card7 > .color2 {
  background: rgba(223, 216, 202, 1);
}

.card7 > .color3 {
  background: rgba(251, 243, 228, 1);
}

.card7 > .color4 {
  background: rgba(16, 86, 82, 1);
}

.card8 > .color1 {
  background: rgba(205, 240, 234, 1);
}
.card8 > .color2 {
  background: rgba(249, 249, 249, 1);
}

.card8 > .color3 {
  background: rgba(246, 198, 234, 1);
}

.card8 > .color4 {
  background: rgba(250, 244, 183, 1);
}

.card9 > .color1 {
  background: rgba(255, 204, 29, 1);
}
.card9 > .color2 {
  background: rgba(11, 70, 25, 1);
}

.card9 > .color3 {
  background: rgba(17, 101, 48, 1);
}

.card9 > .color4 {
  background: rgba(232, 232, 204, 1);
}

.card10 > .color1 {
  background: rgba(0, 255, 171, 1);
}
.card10 > .color2 {
  background: rgba(20, 195, 142, 1);
}

.card10 > .color3 {
  background: rgba(184, 241, 176, 1);
}

.card10 > .color4 {
  background: rgba(227, 252, 191, 1);
}

.card11 > .color1 {
  background: rgba(73, 255, 0, 1);
}
.card11 > .color2 {
  background: rgba(251, 255, 0, 1);
}

.card11 > .color3 {
  background: rgba(255, 147, 0, 1);
}

.card11 > .color4 {
  background: rgba(255, 0, 0, 1);
}

.card12 > .color1 {
  background: rgba(6, 40, 61, 1);
}
.card12 > .color2 {
  background: rgba(19, 99, 223, 1);
}

.card12 > .color3 {
  background: rgba(71, 181, 255, 1);
}

.card12 > .color4 {
  background: rgba(223, 246, 255, 1);
}

.color-pallete {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 86px;
  max-width: calc(1440px - 104px - 104px);
  margin: 45px auto;
  width: 90%;
}

/* Collection */
.collection-container {
  max-width: calc(1440px - 104px - 104px);
  width: 90%;
  margin: 80px auto;
  grid-gap: 63px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.backg-img {
  background: url(../images/Backgroundimg.png);
  height: 283px;
  background-size: cover;
  display: grid;
  place-items: center;
}
.backg-img:hover {
  opacity: 0.5;
}

.backg-img > h1 {
  font-family: "RedRose-Bold";
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.coll-card {
  width: 346px;
  border: 1px solid rgba(234, 234, 234, 1);
}
.color_1,
.color_2,
.color_3,
.color_4,
.color_5 {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.card_1 .color_1 {
  background: rgba(209, 37, 41, 1);
}

.card_1 .color_2 {
  background: rgba(57, 68, 48, 1);
}
.card_1 .color_3 {
  background: rgba(252, 115, 159, 1);
}
.card_1 .color_4 {
  background: rgba(250, 159, 74, 1);
}
.card_1 .color_5 {
  background: rgba(161, 53, 131, 1);
}

.card_2 .color_1 {
  background: rgba(255, 134, 1, 1);
}

.card_2 .color_2 {
  background: rgba(242, 234, 231, 1);
}
.card_2 .color_3 {
  background: rgba(67, 0, 1, 1);
}
.card_2 .color_4 {
  background: rgba(21, 16, 15, 1);
}
.card_2 .color_5 {
  background: rgba(229, 146, 34, 1);
}

.card_3 .color_1 {
  background: rgba(127, 115, 181, 1);
}

.card_3 .color_2 {
  background: rgba(226, 223, 230, 1);
}
.card_3 .color_3 {
  background: rgba(83, 64, 144, 1);
}
.card_3 .color_4 {
  background: rgba(14, 68, 167, 1);
}
.card_3 .color_5 {
  background: rgba(5, 4, 8, 1);
}

.card_4 .color_1 {
  background: rgba(246, 246, 248, 1);
}

.card_4 .color_2 {
  background: rgba(253, 207, 5, 1);
}
.card_4 .color_3 {
  background: rgba(73, 64, 62, 1);
}
.card_4 .color_4 {
  background: rgba(230, 217, 201, 1);
}
.card_4 .color_5 {
  background: rgba(249, 232, 34, 1);
}

.card_5 .color_1 {
  background: rgba(0, 124, 194, 1);
}

.card_5 .color_2 {
  background: rgba(1, 160, 217, 1);
}
.card_5 .color_3 {
  background: rgba(222, 158, 0, 1);
}
.card_5 .color_4 {
  background: rgba(205, 221, 151, 1);
}
.card_5 .color_5 {
  background: rgba(223, 208, 70, 1);
}

.card_6 .color_1 {
  background: rgba(245, 188, 207, 1);
}

.card_6 .color_2 {
  background: rgba(225, 217, 83, 1);
}
.card_6 .color_3 {
  background: rgba(208, 146, 49, 1);
}
.card_6 .color_4 {
  background: rgba(86, 62, 67, 1);
}
.card_6 .color_5 {
  background: rgba(169, 193, 42, 1);
}

.colors {
  display: flex;
  justify-content: space-between;
  width: 346px;
  margin-top: 5px;
}
.color-code {
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
  column-gap: 13px;
}

.color-code > span {
  font-size: 10px;
  font-family: "RedHatDisplay-SemiBold";
  font-size: 10px;
  color: rgba(90, 90, 90, 1);

  line-height: 13px;
}

/* index HOver */
.color1,
.color2,
.color3,
.color4 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* CARD1 with hover */
.color1 > .hex,
.color1 > .rgb,
.color2 > .hex,
.color2 > .rgb,
.color3 > .hex,
.color3 > .rgb,
.color4 > .hex,
.color4 > .rgb {
  opacity: 0;
}
.color1:hover > .hex,
.color1:hover > .rgb,
.color2:hover > .hex,
.color2:hover > .rgb,
.color3:hover > .hex,
.color3:hover > .rgb,
.color4:hover > .hex,
.color4:hover > .rgb {
  opacity: 1;
}

.hex {
  width: 67px;
  height: 20px;
  background-color: rgba(217, 217, 217, 0.5);
  border-top-right-radius: 12px;
  text-align: center;
}

.hex > span,
.rgb > span {
  color: rgba(255, 255, 255, 1);
  font-family: "RedHatDisplay-SemiBold";
  font-size: 12px;
  line-height: 16px;
}

.rgb {
  width: 88px;
  height: 20px;
  background-color: rgba(217, 217, 217, 0.5);
  border-top-left-radius: 12px;
  text-align: center;
}
